# Fragment common to C and C++ source files
CompileFlags:
    CompilationDatabase: build
Index:
    Background: Build

---
# Fragment specific to C++ source files
If:
    PathExclude: [.*\.c, .*\.h]
CompileFlags:
    Add:
        - "-std=c++23"